$red: #f43546;

.frame {
	height: 20vh;
	width: 105%;
	background-color: $red;

	// border-top-left-radius: 8em;
	// border-top-right-radius: 8em;
	// border-bottom-right-radius: 0.1em;
	// border-bottom-right-radius: 0.1em;

}