
.listView {
	display: flex;
	align-items: center;
	.button {
		border: solid 1px red;
		cursor: pointer;
		height: 3em;
		width: 3em;
		transition: all 0.4s;
		&:hover {
			background-color: pink;
		}
	}
	.listContainer {
		border: solid blue 1px;
		height: 40vh;
		width: 30em;
		overflow: hidden;
		position:relative;

		&:before, &:after {
			content: '';
			display: flex;
			z-index: 1;
			position: absolute;
			left: 0;
			width: 100%;
			height: 0%;
			// border: solid red 1px;
			box-shadow: 0 0em 5em 4em #fff;
			// box-shadow: 0 0em 5em 4em #000;
		}
		&:before {
			top: 0;	
		}
		&:after {
			bottom: 0;
		}
	}
}