@import '../../../variables.scss';

.sprite {
	display: flex; 
	justify-content: center;
	align-items: center;
	// max-width: 200px;
	background-color: $black;
	height: 100%;
	width: 100%;
	img {
	z-index:1;
	}

}