.profile {
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	.content {
		width: 90%;
		height: 90%;
		display: flex;
		justify-content: center;
		align-content: center;
	}
}