@import '../../variables.scss';

.preview {
	font-size: 1.4em;
	height: 15em;
	width: 50%;
	border-radius: 1em;
	margin-bottom: 5em;

	box-shadow: 2px 4px 0.6em 0.1em $shadowDark;
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-wrap: break-word;
	
	transition: 0.6s all cubic-bezier(0.35, -0.45, 0.22, 1.45);
	&>* {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 100%;
		width: 100%;
		.name {
			margin-top: 0.5em;
		}
		.form {
			font-size: 0.6em;
		}
	}
	&:hover {
		border-width: 0;
		background-color: $white;
		color: $red;
		letter-spacing: 4px;
		
	}
}