@import '../../variables.scss';

$quickviewTransition: 0.7s;
$pkiScale: 1.5;
$spriteWidth: 40px;
$spriteHeight: 30px;

.pokemonCell{
	display: flex;
	flex-direction: column;
	position:relative;
	cursor: pointer;
	transition: all 0.2s;
		
	.preview{
		display: flex;
		flex-direction:column;
		justify-content: space-around;
		align-content: center;

		position: relative;
		width: inherit;
		height: inherit;
		border: solid 0.1em $blue;
		border-radius: 0.5em;
		box-shadow: 0 0 0.5em $blue;
		z-index: 10;
		span{ text-align: center; }
		&:hover{
			background-color:  #fff;
		}
		&.active{
			border-color:red;
		}
		.pkiContainer{
			display: flex;
			justify-content: center;
			transform: scale($pkiScale);
			.pki{
				background-image: url('./sprites.png');;
				width: $spriteWidth;
				height: $spriteHeight;
				vertical-align: middle;
				display: inline-block;
			}
		}
			
	}
	.profileContainer{
		max-height: 0;
		overflow: hidden;
		transition: max-height $quickviewTransition;
		position: relative;
		margin-top: 0.5em;

		&.expanded {
			max-height: 90vh;
			border: solid 1px $blue;
			transition-delay: $quickviewTransition;
		}
		
	}	
}