@import '../../../variables.scss';

.typeBadge {
	border: solid 1px #fff;
	border-radius: 0.2em;
	height: 1em;
	width: 4em;
	padding: 0.5em;
	margin: 0 0.2em;
	color: #fff;
	
	font-size: 0.8em;
	text-transform: uppercase;

	display:flex;
	justify-content: center;
	align-items: center;
}