@import '../variables.scss';

$initiatorSize: 150px; 
$endWidth: 800px;
$endHeight: 90vh;

$outlineWidth: 5px;
$border: solid $white $outlineWidth;
$pkball: $white;
$startbg: radial-gradient(ellipse at center bottom, $redorange 5%, $redbright 60%);
$endbg: radial-gradient(ellipse at center bottom, $redbright 5%, $redbright 60%);

.initiator{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: $white;

	overflow: hidden;
	z-index: 2;
	transition: all 0.5s; // default
	.initiatorButton {
		display: none;
		transition: inherit;
		&:before {
			transition: inherit;
		}
	}
	.center {
		border-radius: 50%;
		background-color: $pkball;
		position: fixed;
		z-index: 2;
	}
	.top {
		top: 0;
	}
	.bottom {
		bottom: 0;
		transform: rotate(180deg);
	}
	.top, .bottom, .center {
		transition: inherit;
	}
	.top, .bottom {
		position: absolute;
		display: flex;
		justify-content: center;
		
		height: 50%;
		width: 100%;
		background: $startbg;
		overflow: hidden;

		&:before, &:after {
			content: '';
			position: absolute;
			transition:inherit;
		}
		&:after {
			display: flex;
			height: $initiatorSize;
			width: $initiatorSize;
			border-radius: 50%;
			border: $border;
			bottom: -$initiatorSize / 2;
		}
		&:before {
			bottom: 0px;
			height: $outlineWidth / 2;
			width: $initiatorSize;
			background-color: $pkball;
		}
	}
	&.stage0 {
		.center {
			height: $initiatorSize * 0.15;
			width: $initiatorSize * 0.15;
		}
		.initiatorButton {
			display: flex;
			justify-content: center;
			position: absolute;
			z-index: 3;
			height: $initiatorSize + $outlineWidth;
			width: $initiatorSize + $outlineWidth;
			border-radius: 50%;
			transition: inherit;
			&:before {
				content: 'Click to enter';
				top: -4em;
				position: absolute;

			}
			&:hover {
				box-shadow: 0 0 3em 1em $pkball;
			}
		}

	}
	&.stage1 {
		.initiatorButton {
			display: flex;
			&:before {
				opacity: 0;
			}
		}
		.top, .bottom {
			&:after {
				height: 1px;
			}
			&:before {
				height: 0px;
				width: 0;
			}
		}		
	}
	&.stage2 {
		.top, .bottom {
			&:before, &:after {
				border-radius: 0%;
				height: 1px;
				width: 100%;
			}
		}		
	}
	&.stage3 {
		.top, .bottom {
			height: 1px;
			width: 100%;
			background: $endbg;
			&:before, &:after {
				height: 0px;
				width: 100%;
			}
		}
	}
	&.stage4 {
		display: none;
	}
}