$black: #1F202F;
$white: #fff;
$gray: #7F7F8B;
$red: #e64731;
$blue: #2cc7d0;
$blueDark: #1570ca;
$redbright: #ff1b44;
$redorange: #f84121;
$shadow: rgba(146, 190, 192, 0.41);
$shadowDark:  rgba($black, 0.4);
