@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import './variables.scss';

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $bg;
	color: $white;
}

$initiatorSize: 150px; 
$endWidth: 800px;
$endHeight: 90vh;

$border: solid $blue 0.3em; 

.app {
	.initiator{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;

		overflow: hidden;
		z-index: 2;
		.initiatorButton {
			display: none;
		}
		.top {
			top: 0;
		}
		.bottom {
			bottom: 0;
			transform: rotate(180deg);
		}
		.top, .bottom, {
			position: absolute;
			display: flex;
			justify-content: center;
			
			height: 50%;
			width: 100%;
			background-color: $black;

			overflow: hidden;
			transition: inherit;

			&:before, &:after {
				content: '';
				position: absolute;
				transition:inherit;
			}
			&:after {
				display: flex;
				height: $initiatorSize;
				width: $initiatorSize;
				border-radius: 50%;
				border: $border;
				bottom: -$initiatorSize / 2;
			}
			&:before {
				bottom: 0px;
				height: 0.15em;
				width: $initiatorSize;
				background-color: $blue;
			}
		}
		&.stage0 {
			.initiatorButton {
				display: block;
				position: absolute;
				z-index: 3;
				border: solid red 1px;
				height: $initiatorSize;
				width: $initiatorSize;
				border-radius: 50%;
			}
		}
		&.stage1 {
			.top, .bottom {
				&:after {
					height: 1px;
				}
				&:before {
					height: 0px;
					width: 0;
				}
			}		
		}
		&.stage2 {
			.top, .bottom {
				&:before, &:after {
					border-radius: 0%;
					height: 1px;
					width: 100%;
				}
			}		
		}
		&.stage3 {
			.top, .bottom {
				height: 1px;
				width: 100%;
				&:before, &:after {
					height: 0px;
					width: 100%;
				}
			}
		}
		&.stage4 {
			display: none;
		}
	}
}